body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}
input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
.button{
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4E2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;

	transition: transform 80ms ease-in;
}
.button:hover{
	opacity: 0.4;
}
.main {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-position: 0 0;
	color: #FFFFFF;
	width: 30%;
	height: 45%;
  	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}